html{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    justify-content: space-between; 
}
nav img{
    height: 90px;
    width: 90px;
}
ol{
    display: flex;
    gap: 15px;
    align-content: flex-end;

}
li{
    list-style-type: none;
}

.hero{
    background-image: url("Assets/asset.webp");
    background-repeat: no-repeat;
    background-size: cover; 
}
h1{
    color: white;
    text-align: center;
}
a{
    background-color: aqua;
    justify-content: space-between; 
}
a:hover{
    background-color: orange;
}
h2{
    align-items: center;
    font-weight: 600;
    text-align: center;
}



